*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", "Lato", sans-serif !important;
  font-weight: 400;
}

.v-card__text,
.v-card__title {
  word-break: normal !important; /* maybe !important  */
}
