/* @font-face {
  font-family: "Vision";
  src: url("@/assets/fonts/Vision/WEB/Vision-Black.eot");
  src: url("@/assets/fonts/Vision/WEB/Vision-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Vision/WEB/Vision-Black.woff2") format("woff2"),
    url("@/assets/fonts/Vision/WEB/Vision-Black.woff") format("woff"),
    url("@/assets/fonts/Vision/TTF/Vision-Black.ttf") format("truetype");
} */

@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/Manrope/web/Manrope-Regular.woff2");
  src: url("@/assets/fonts/Manrope/web/Manrope-Regular.woff") format("woff"),
    url("@/assets/fonts/Manrope/otf/Manrope-Regular.otf")
      format("embedded-opentype"),
    url("@/assets/fonts/Manrope/ttf/Manrope-Regular.ttf") format("truetype");
}

.v-card__text, .v-card__title {
  word-break: normal!important; /* maybe !important  */
}